.Desk3 {
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B1926;
    color: #fff;
}

.titulo {
    font-size: 2rem;
    margin-top: 30px;
}
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cabecalho {
    font-size: 1.3rem;
    margin-top: 20px;
}

.square {
    width: 400px;
    height: 300px;
    border-radius: 20px;
    background-color: #464D64;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 50px;
}

.cabecalhoDesc {
    text-align: center;
    margin: 20px 0 20px 0;
}

.desc {
    text-align: center;
    color: #fff;
    font-weight: 200;
    font-size: 1.1rem;
    letter-spacing: 1px;
    padding: 10px;
}

.skils {
    display: flex;
    margin-top: 50px;
    margin-bottom: 0;
    padding: 0;
}

.square {
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2px;
}


@media (max-width: 1420px) {
    .square {
        margin: 20px;
        width: 350px;
        height: 250px;
    }
    .Desk3 {
        height: 900px;
    }
}

@media (max-width: 1150px) {
    .square {
        margin: 20px;
        width: 300px;
        height: 200px;
    }
    .Desk3 {
        height: 800px;
    }
}

@media (max-width: 980px) {
    .square {
        margin: 15px;
        width: 250px;
        height: 150px;
    }
    .skils{
        display: flex;
        flex-direction: column;
    }
    .content {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width: 750px) {
    .square {
        margin: 10px;
        width: 250px;
        height: 150px;
    }
    .titulo {
        font-size: 1.5rem;
    }
    .Desk3 {
        height: 700px;
    }
}

@media (max-width: 670px) {
    .square {
        margin: 10px;
        width: 220px;
        height: 120px;
    }
    .titulo {
        font-size: 1.2rem;
    }
    .Desk3 {
        height: 600px;
    }
}

@media (max-width: 485px) {
    .square {
        margin: 5px;
        width: 210px;
        height: 110px;
    }
    .titulo {
        font-size: 1rem;
    }
}

@media (max-width: 460px) {
    .square {
        margin: 15px;
        width: 300px;
        height: 200px;
    }
    .skils{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .Desk3 {
        height: 1500px;
    }
}

@media (max-width: 380px) {
    .titulo {
        font-size: .8rem;
    }
}