.Desk4 {
    width: 100%;
    height: 1300px;
    display: flex;
    justify-content: center;
    background-color: #313541;
    color: #fff;
    flex-direction: column;
    align-items: center;
}

.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.a:hover {
    cursor: pointer;
}

.titulo {
    font-size: 3.5rem;
}

@media (max-width: 1300px) {
    .Desk4 {
        height: 1200px;
    }
}
@media (max-width: 900px) {
    .Desk4 {
        height: 1100px;
    }
}
@media (max-width: 670px) {
    .Desk4 {
        height: 900px;
    }
}

@media (max-width: 930px) {
    .titulo {
        font-size: 3rem;
    }
}

@media (max-width: 800px) {
    .titulo {
        font-size: 2.5rem;
    }
}

@media (max-width: 670px) {
    .titulo {
        font-size: 2rem;
    }
}

@media (max-width: 535px) {
    .titulo {
        text-align: center;
    }
}

