.navbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 0 5% 0 0;
    position: fixed;
    background-color: #1B1926dd;
}

.logo {
    margin-left: 5%;
}

.navegacao {
    display: flex;
    margin: 20px;
    justify-content: space-between;
}

.navegacao {
    display: flex;
    align-items: center;
    width: 40%;
}

.navItem {
    list-style: none;
    color: #fff;
    font-weight: 200;
    margin-right: 5%;
    cursor: pointer;
}
