.projectImg {
    border-radius: 0 20px 0 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    padding-top: 50px;
    margin: 25px 0 25px 0;
}

.projectDesc {
    display: flex;
    flex-direction: column;
    align-items: initial;
    justify-content: initial;
    width: 100%;
    height: 100%;
    padding-top: 100px;
    margin-left: 30px;
}

.title {
    color: #a9cdec;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.linguagens {
    display: flex;
    margin-bottom: 20px;
}

.descProj {
    font-size: 1.1rem;
    font-weight: 200;
}

.btns {
    width: 80%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn {
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    font-weight: 200;
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #464D64, #788EA9);
    transition: .6s all ease-in-out;
    outline: none;
    width: 180px;
}

.btn:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.linkVerGit {
    color: #a9cdec;
    transition: .2s all ease-in-out;
}

.linkVerGit:hover {
    text-decoration: none;
    transform: scale(1.02);
}









.projectImgE {
    border-radius: 0 20px 0 20px;
}

.content {
    display: flex;
    justify-content: end;
    width: 80%;
    padding-top: 50px;
}

.projectDescE {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    padding-top: 100px;
    margin-left: 30px;
    align-items: end;
}

.title {
    color: #a9cdec;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: start;
}


.titleE {
    color: #a9cdec;
    font-size: 1.2rem;
    margin-bottom: 5px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.linguagense {
    display: flex;
    margin-bottom: 20px;
}

.descProj {
    font-size: 1.1rem;
    font-weight: 200;
}

.btnse {
    width: 80%;
    height: 50px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btne {
    border: none;
    padding: 10px 20px 10px 20px;
    font-size: 1.2rem;
    font-weight: 200;
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #464D64, #788EA9);
    transition: .6s all ease-in-out;
    outline: none;
    width: 180px;
}

.btne:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.linkVerGite {
    color: #a9cdec;
    transition: .2s all ease-in-out;
}

.linkVerGite:hover {
    text-decoration: none;
    transform: scale(1.02);
}

.projectImge {
    border-radius: 20px 0 20px 0;
}


@media (max-width: 1400px) {
    .btns {
        width: 90%;
    }
    .btnse {
        width: 90%;
    }
    .projectDescE {
        margin-left: 30px;
    }
}

@media (max-width: 1350px) {
    .btns {
        width: 100%;
    }
    .btnse {
        width: 100%;
    }
    .projectDescE {
        margin-left: 30px;
    }
}

@media (max-width: 1300px) {
    .btns {
        display: flex;
        flex-direction: column;
    }
    .btnse {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-bottom: 20px;
    }
    .btne {
        margin-top: 20px;
    }
    .projectDescE {
        margin-left: 30px;
    }
}

@media (max-width: 1400px) {
    .projectImg {
        border-radius: 0 20px 0  20px;
        width: 600px;
        height: 400px;
    }
    .projectImge {
        border-radius: 0 20px 0  20px;
        width: 600px;
        height: 400px;
    }
    .projectDescE {
        margin-left: 30px;
    }
}

@media (max-width: 930px) {
    .projectImg {
        border-radius: 0 20px 0  20px;
        width: 500px;
        height: 300px;
    }
    .projectImge {
        border-radius: 0 20px 0  20px;
        width: 500px;
        height: 300px;
    }
    .content {
        padding: 0px;
    }
    .projectDescE {
        margin-left: 30px;
    }
}

@media (max-width: 750px) {
    .projectImg {
        border-radius: 0 20px 0  20px;
        width: 400px;
        height: 200px;
    }
    .projectImge {
        border-radius: 0 20px 0  20px;
        width: 400px;
        height: 200px;
    }
    .content {
        padding: 0px;
    }
    .projectDescE {
        margin-left: 300px;
    }
}

@media (max-width: 670px) {
    .projectImg {
        display: none;
    }  
    .projectImge {
        display: none;
    } 
    .projectDesc {
        align-items: initial;
        padding: 20px;
    }
    .projectDescE {
        align-items: end;
        padding: 20px;
        margin-left: 30px;
    }
    .titleE {
        align-items: end;
    }
    .btns {
        display: flex;
        flex-direction: row;
    }
    .btnse {
        display: flex;
        flex-direction: row;
    }
}

@media (max-width: 500px) {
    .btns {
        display: flex;
        flex-direction: column;
    }
    .btnse {
        display: flex;
        flex-direction: column;
    }
    .btn {
        margin-bottom: 20px;
    }
    .btne {
        margin-top: 20px;
    }
    .projectDescE {
        margin-left: 30px;
    }
}